<div class="controls" [class.invalid]="control?.invalid && control?.dirty">
  <input
    type="text"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
  />
  <button type="submit" [disabled]="control?.invalid" (click)="onSubmit()">
    {{ buttonLabel }}
  </button>
</div>
<span *ngIf="control?.invalid && control?.dirty" class="error-msg">{{
  errorMsg
}}</span>
