:host {
}

.controls {
  height: 2rem;
  display: inline-flex;
  overflow: hidden;

  border: 1px solid var(--color-medium);
  border-radius: 5px;
  box-shadow: 0 0.5rem 2rem hsla(0, 0%, 0%, 0.15);

  &:focus-within,
  &:hover {
    border: 1px solid var(--color-primary);
  }

  &.invalid {
    border-color: var(--color-danger);
  }
}

.error-msg {
  color: var(--color-danger);
}

input {
  padding: 0.2rem;
  border: none;
  min-width: 0;
  // flex:

  &:focus {
    outline: none;
  }
}

button {
  background-color: var(--color-primary);
  color: var(--color-light);

  cursor: pointer;
  border: none;

  transition: 0.3s all;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    transform: scale(1.02);
    background-color: var(--color-primary-shade);
  }
}
