:host {
  display: flex;
  flex-direction: column;

  box-shadow: 0 0.6rem 1.2rem hsla(0, 0%, 0%, 0.15);
  border-radius: 5px;
  overflow: hidden;
  width: 22rem;
}

.repository {
  background-color: var(--color-primary);
  padding: 0.6rem;
  color: var(--color-light);
  font-size: 0.8rem;

  &__name {
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__owner {
  }
}

.branches {
  padding: 0.6rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.2rem;

  span {
    font-weight: 700;
    color: var(--color-medium-shade);
  }
}

.branch {
  &__name {
    font-weight: 700;
    color: var(--color-medium-tint);
  }

  &__last-commit {
    font-size: 0.8rem;
  }
}
