<div class="repository">
  <p class="repository__name">{{ repository?.name }}</p>
  <p class="repository__owner">{{ repository?.owner }}</p>
</div>
<div class="branches">
  <span>Branches</span>
  <div class="branch" *ngFor="let branch of repository?.branches">
    <p class="branch__name">{{ branch.name }}</p>
    <p class="branch__last-commit">
      Last commit SHA: {{ branch.lastCommitSHA }}
    </p>
  </div>
</div>
