/* You can add global styles to this file, and also import other style files */
@import url(sanitize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-primary: #1098ad;
  --color-primary-shade: #0e8698;
  --color-primary-tint: #28a2b5;

  --color-medium: #92949c;
  --color-medium-shade: #808289;
  --color-medium-tint: #9d9fa6;

  --color-light: #f4f5f8;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;

  --color-danger: #eb445a;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
