<div class="searchbar">
  <app-searchbar (search)="search($event)"></app-searchbar>
</div>

<div class="search-results">
  <app-search-result-card
    [repository]="repository"
    *ngFor="let repository of repositories$ | async"
  ></app-search-result-card>
</div>
